/** @format */
body {
  margin: 1.5em;
  font-family: "Popins", sans-serif;
}

a {
  text-decoration: none;
  font-size: 1.3rem;
}

.hero-img {
  position: absolute;
  top: 0;
  left: 0;
  background: url("../assets/shoe.jpg");
  background-size: cover;
  background-position-x: 20%;
  background-position-x: 20%;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

.logo {
  color: white;
  font-weight: bold;
}

nav {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  background: white;
  text-transform: uppercase;
  z-index: 3666;
  transform: translateX(100%);
  transition: transform 0.5s case-in-out;
}
nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0em;
}
nav ul a {
  color: black;
  padding: 0.75em 2em;
  display: block;
  width: 100%;
}
nav ul a:hover {
  background: rgb(228, 224, 224);
}
nav .close {
  float: right;
  margin: 2em;
  width: 2em;
}

header {
  display: flex;
  justify-content: space-between;
}
header svg {
  width: 3em;
  margin-top: -1em;
  cursor: pointer;
}

h1 {
  font-size: 3rem;
  margin-top: 2em;
  line-height: 3.3rem;
  color: rgb(248, 246, 246);
}

.subhead {
  font-size: 1.4rem;
  color: black;
}

section.hero {
  color: blue;
  height: 90vh;
}
section.hero .down-arrow {
  stroke: white;
  position: absolute;
  bottom: 2em;
  width: 1em;
}
section.hero .down-arrow path {
  fill: white;
}

.more-info img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 15em;
}
.more-info .title {
  font-weight: bold;
  font-size: 1.25rem;
}
.more-info .desc {
  line-height: 1.5rem;
}

@media only screen and (min-width: 680px) {
  body {
    margin: 1.5em 5em;
    font-family: "Popins", sans-serif;
  }
}
@media only screen and (min-width: 850px) {
  .menu {
    display: none;
  }
  nav {
    transform: translateX(0);
    position: unset;
    display: block;
    width: auto;
    height: auto;
    background: none;
  }
  nav svg.close {
    display: none;
  }
  nav ul {
    display: flex;
    margin: 0;
  }
  nav ul a {
    color: white;
    padding: 0.5em 1.5em;
    font-size: 0.9rem;
  }
  nav ul a:hover {
    background: none;
    text-decoration: underline;
  }
  .hero-img {
    left: unset;
    right: 0;
    width: 50%;
    height: 43em;
  }
  .logo {
    color: black;
  }
  .logo span {
    color: red;
  }
  .hero {
    height: auto;
    width: 40%;
    margin-bottom: 8em;
  }
  .hero h1 {
    color: rgb(3, 3, 3);
  }
  .hero svg.down-arrow {
    stroke: black;
    position: unset;
  }
  .hero svg.down-arrow path {
    fill: black;
  }
  .feature {
    display: grid;
    grid-template-columns: repeat(2, auto);
    margin-bottom: 8em;
    gap: 3em;
  }
  .feature img {
    width: 25em;
  }
  .feature .content {
    text-align: right;
    width: 25em;
  }
  .feature.left {
    grid-template-areas: "left right";
  }
  .feature.left img {
    grid-area: left;
  }
  .feature.left .content {
    text-align: left;
    width: 25em;
    justify-self: left;
  }
}
@media only screen and (min-width: 1200px) {
  .wrapper {
    width: 1200px;
    margin: 0 auto;
  }
  .feature {
    gap: 0;
  }
}/*# sourceMappingURL=main.css.map */